 .garden{
  font-size: 1em;
    height: 12.5em;
    width: 12.5em;
    background-image: radial-gradient(at bottom, #fff, #0000ff);
    position:relative;
    margin: auto;
}
.glass1, .glass2, .glass3, .glass4{
    position: absolute;
    bottom: 0.5em;
    border-right: 2.5em solid transparent;
    border-left: 2.5em solid transparent;
    border-bottom: 3em solid #00ff00;
    z-index: 1;
}
.glass1{
    left: 0;
}
.glass2{
    left: 2.5em;
}
.glass3{
    left: 5em;
}
.glass4{
  left: 7.5em;
}
.mushroom1, .mushroom2{
    position: absolute;
    background: #D2B48C;
    border-radius: 3em / 1.5em;
    border: 0.1em solid #8B4513;
    bottom: 2.75em;
}
.mushroom1{
    width: 6em;
    height: 2em;
    left:0.5em;
    transform: rotate(90deg);
}
.mushroom2{
    width: 4em;
    height: 1.5em;
    left:4em;
    transform: rotate(135deg);
}
.head1, .head2{
  position: absolute;
  border-radius: 9em 9em 0 0;
  background-image: radial-gradient(at top,#fff, #70362A);
}
.head1{
  transform: rotate(270deg);
  height: 3em;
  width: 6em;
  bottom: -0.5em; 
  left: -2.75em;
}
.head2{
  transform: rotate(275deg);
  height: 1.9em;
  width: 3.8em;
  bottom: -0.2em; 
  left: -1.5em;
}
.body_bee{
  position: absolute;
  background: #DEBD16;
  border-radius: 3em / 1.5em;
  border: 0.05em solid #B49B1F; 
  bottom: 7em;
  left: 7em;
  height: 1em;
  width: 2em; 
  transform: rotate(135deg);
}
.head_bee{
  position: absolute;
  background: #DEBD16;
  border: 0.05em solid #B49B1F; 
  bottom: -0.1em;
  left: 1.5em;
  width: 1em;
	height: 1em;
	border-radius: 3em;
}
.eye_bee1, .eye_bee2{
  position: absolute;
  background: #000;
  width: 0.4em;
	height: 0.4em;
	border-radius: 3em;
}
.eye_bee1{
  bottom: 0.1em;
  left: 0.3em;
}
.eye_bee2{
  bottom: 0.5em;
  left: 0.3em;
}
.r_wing1, .r_wing2, .l_wing1, .l_wing2{
  position: absolute;
  background: #00bfff;
  border-radius: 2.5em / 1.25em;
  border: 0.05em solid #4169E1; 
  height: 0.75em;
  width: 1.5em;
} 
.r_wing1{
  bottom: -1em;
  left: 0.5em;
  transform: rotate(80deg);
}
.r_wing2{
  bottom: -1.1em;
  left: -0.2em; 
  transform: rotate(115deg);
}
.l_wing1{
  bottom: 1.1em;
  left: 0.6em;
  transform: rotate(290deg);
}
.l_wing2{
  bottom: 1.2em;
  left: 0em;
  transform: rotate(265deg);
}
.r_wing1, .l_wing1{
  z-index: 1;
}